@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

:root {
    --primary-color: #95847D;
    --white: #FEFEFE;
    --border: #2b303218;
    --eb: 'Cairo', sans-serif;
}

.white {
    color: var(--white);
}


.primary-color {
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    font-family: var(--eb);

}

.header-links a {
    color: var(--white);
}

.btn-group button {
    color: var(--white);
}

img {
    width: 150px;
}

.navbar {
    background-color: var(--white);
}

.nav a:hover {
    background-color: #FEFEFE;
    color: #95847D;
}

.nav a.active {
    background-color: #FEFEFE;
    color: #95847D;
}

.nav a {
    color: var(--white);
}

.dropdown,
.icon {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #95847D;
    color: #FEFEFE;
}

.fas {
    color: #FEFEFE;
}

.icons {
    position: relative;
    display: inline-block;
}

.right {
    left: 95%;
    top: 24px;
    float: right;
    display: inline-flex;

}

.middle {
    right: 7%;
    margin-top: 18px;
    display: inline-block;
}

.left {
    float: right;
    left: 90%;
    top: 18px;
}

.imgdiv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .icons {
        display: block;
    }

    .right {
        left: 90%;
        top: 24px;
        float: right;
        display: inline-flex;
    }

    .middle {
        float: left;
        left: 92%;
        top: 18px;
    }

    .left {
        float: right;
        left: 88%;
        top: 18px;
    }
}

@media screen and (max-width: 992px) {
    .icons {
        display: block;
    }

    .right {
        left: 81%;
        top: 24px;
        float: right;
        display: inline-flex;
        width: min-content;

    }

    .middle {
        float: right;
        left: 91%;
        top: 18px;
        display: inline-flex;
        width: min-content;
    }

    .left {
        float: right;
        width: min-content;
        left: 85%;
        top: 18px;
        display: inline-flex;

    }
}

@media screen and (max-width: 768px) {
    .icons {
        display: block;
    }

    .right {
        left: 80%;
        top: 24px;
        float: right;
        display: inline-flex;
    }

    .middle {
        float: right;
        left: 90%;
        top: 18px;
        display: inline-flex;

    }

    .left {
        float: right;
        width: min-content;
        left: 84%;
        top: 18px;
        display: inline-flex;

    }
}

@media screen and (max-width: 600px) {
    .icons {
        display: block;
    }

    .right {
        left: 10%;
        top: 32px;
        float: right;
        display: inline-flex;

    }

    .middle {
        float: right;
        left: 88%;
        top: 27px;
        display: inline-flex;


    }

    .left {
        float: right;
        width: min-content;
        left: 78%;
        top: 27px;
        display: inline-flex;

    }

    .imgdiv img {
        height: auto;
        width: auto;
        max-height: 65px;
        max-width: 200px;
        vertical-align: middle;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        left: 2%;
        top: 32px;
        float: left;
    }

    .nav {
        display: none;
        width: 100%;
    }

    .nav {
        width: 100%;
        flex-direction: column;
    }

    .nav {
        text-align: center;
    }

    .nav a {
        padding: .5rem 1rem;
    }

    .nav.active {
        display: flex;
    }
  
}

        .slider {
            width: 500px;
            margin: auto;
            padding: 10px;
        }

        .dropdown {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #95847D;
            color: #FEFEFE;
        }

        main,
        main::before,
        main::after {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }



        input,
        button {
            border: none;
            outline: none;
            background: none;
        }

        .cont {
            overflow: hidden;
            position: relative;
            width: 900px;
            height: 550px;
            background: #fff;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        }

        .form {
            position: relative;
            width: 640px;
            height: 100%;
            padding: 50px 30px;
            -webkit-transition: -webkit-transform 1.2s ease-in-out;
            transition: -webkit-transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
        }

        h2 {
            width: 100%;
            font-size: 30px;
            text-align: center;
        }

        label {
            display: block;
            width: 260px;
            margin: 25px auto 0;
            text-align: center;
        }

        label span {
            font-size: 14px;
            font-weight: 600;
            color: #505f75;
            text-transform: uppercase;
        }

        input {
            display: block;
            width: 100%;
            margin-top: 5px;
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(109, 93, 93, 0.4);
            text-align: center;
            font-family: 'Nunito', sans-serif;
        }

        button {
            display: block;
            margin: 0 auto;
            width: 260px;
            height: 36px;
            border-radius: 30px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }

        .submit {
            margin-top: 40px;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: 600;
            font-family: 'Nunito', sans-serif;
            background: #EBC0B9;
        }

        .submit:hover {
            background: #1A1915;
        }

        .forgot-pass {
            margin-top: 15px;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            color: #0c0101;
            cursor: pointer;
        }

        .forgot-pass:hover {
            color: red;
        }

        .sub-cont {
            overflow: hidden;
            position: absolute;
            left: 640px;
            top: 0;
            width: 900px;
            height: 100%;
            padding-left: 260px;
            background: #fff;
            -webkit-transition: -webkit-transform 1.2s ease-in-out;
            transition: -webkit-transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out;
        }

        .cont.s-signup .sub-cont {
            -webkit-transform: translate3d(-640px, 0, 0);
            transform: translate3d(-640px, 0, 0);
        }

        .img {
            overflow: hidden;
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 260px;
            height: 100%;
            padding-top: 360px;
        }

        .img:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://i.pinimg.com/564x/c3/dd/3b/c3dd3bb8b6b1a45012a877e16debe713.jpg');
            background-size: cover;
            transition: -webkit-transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
        }

        .img:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-image: url('https://i.pinimg.com/564x/c3/dd/3b/c3dd3bb8b6b1a45012a877e16debe713.jpg');
            background-size: cover;
            width: 100%;
            height: 100%;
        }

        .cont.s-signup .img:before {
            -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
        }

        .img-text {
            z-index: 2;
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            padding: 0 20px;
            text-align: center;
            color: #fff;
            -webkit-transition: -webkit-transform 1.2s ease-in-out;
            transition: -webkit-transform 1.2s ease-in-out;
            transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
        }

        .img-text h2 {
            margin-bottom: 10px;
            font-weight: normal;
        }

        .img-text p {
            font-size: 14px;
            line-height: 1.5;
        }

        .cont.s-signup .img-text.m-up {
            -webkit-transform: translateX(520px);
            transform: translateX(520px);
        }

        .img-text.m-in {
            -webkit-transform: translateX(-520px);
            transform: translateX(-520px);
        }

        .cont.s-signup .img-text.m-in {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        .sign-in {
            padding-top: 65px;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .cont.s-signup .sign-in {
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-duration: 1.2s;
            transition-duration: 1.2s;
            -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
        }

        .img-btn {
            overflow: hidden;
            z-index: 2;
            position: relative;
            width: 100px;
            height: 36px;
            margin: 0 auto;
            background: #FEF6F3;
            color: black;
            text-transform: uppercase;
            font-size: 15px;
            cursor: pointer;
            font-weight: bold;
        }

        .img-btn:after {
            content: '';
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #FEF6F3;
            border-radius: 30px;
        }

        .img-btn span {
            position: absolute;
            left: 0;
            top: 0;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            -webkit-transition: -webkit-transform 1.2s;
            transition: -webkit-transform 1.2s;
            transition: transform 1.2s;
            transition: transform 1.2s, -webkit-transform 1.2s;
            ;
        }

        .img-btn span.m-in {
            -webkit-transform: translateY(-72px);
            transform: translateY(-72px);
        }

        .cont.s-signup .img-btn span.m-in {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        .cont.s-signup .img-btn span.m-up {
            -webkit-transform: translateY(72px);
            transform: translateY(72px);
        }

        .sign-up {
            -webkit-transform: translate3d(-900px, 0, 0);
            transform: translate3d(-900px, 0, 0);
        }

        .cont.s-signup .sign-up {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .img p,
        .img h2 {
            color: #1A1915;
        }