@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

:root {
    --primary-color: #95847D;
    --white: #FEFEFE;
    --border: #2b303218;
    --eb: 'Cairo', sans-serif;
}

.white {
    color: var(--white);
}


.primary-color {
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    font-family: var(--eb);

}

.header-links a {
    color: var(--white);
}

.btn-group button {
    color: var(--white);
}

img {
    width: 150px;
}

.navbar {
    background-color: var(--white);
}

.nav a:hover {
    background-color: #FEFEFE;
    color: #95847D;
}

.nav a.active {
    background-color: #FEFEFE;
    color: #95847D;
}

.nav a {
    color: var(--white);
}

.dropdown,
.icon {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #95847D;
    color: #FEFEFE;
}

.fas {
    color: #FEFEFE;
}

.icons {
    position: relative;
    display: inline-block;
}

.right {
    left: 90%;
    top: 24px;
    float: right;
    display: inline-flex;

}

.middle {
    float: left;
    left: 94%;
    top: 18px;
}

.left {
    float: right;
    left: 90%;
    top: 18px;
}

.imgdiv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .icons {
        display: block;
    }

    .right {
        left: 90%;
        top: 24px;
        float: right;
        display: inline-flex;
    }

    .middle {
        float: left;
        left: 92%;
        top: 18px;
    }

    .left {
        float: right;
        left: 88%;
        top: 18px;
    }
}

@media screen and (max-width: 992px) {
    .icons {
        display: block;
    }

    .right {
        left: 81%;
        top: 24px;
        float: right;
        display: inline-flex;
        width: min-content;

    }

    .middle {
        float: right;
        left: 91%;
        top: 18px;
        display: inline-flex;
        width: min-content;
    }

    .left {
        float: right;
        width: min-content;
        left: 85%;
        top: 18px;
        display: inline-flex;

    }
}

@media screen and (max-width: 768px) {
    .icons {
        display: block;
    }

    .right {
        left: 80%;
        top: 24px;
        float: right;
        display: inline-flex;
    }

    .middle {
        float: right;
        left: 90%;
        top: 18px;
        display: inline-flex;

    }

    .left {
        float: right;
        width: min-content;
        left: 84%;
        top: 18px;
        display: inline-flex;

    }
}

@media screen and (max-width: 600px) {
    .icons {
        display: block;
    }

    .right {
        left: 10%;
        top: 32px;
        float: right;
        display: inline-flex;

    }

    .middle {
        float: right;
        left: 88%;
        top: 27px;
        display: inline-flex;


    }

    .left {
        float: right;
        width: min-content;
        left: 78%;
        top: 27px;
        display: inline-flex;

    }

    .imgdiv img {
        height: auto;
        width: auto;
        max-height: 65px;
        max-width: 200px;
        vertical-align: middle;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        left: 2%;
        top: 32px;
        float: left;
    }

    .nav {
        display: none;
        width: 100%;
    }

    .nav {
        width: 100%;
        flex-direction: column;
    }

    .nav {
        text-align: center;
    }

    .nav a {
        padding: .5rem 1rem;
    }

    .nav.active {
        display: flex;
    }
  
}